landscapesim_project/settings/custom.py
*.pyc
config.json
landscapesim/migrations/0*.py
Archive/
materials/
stsim-libs/
*.bat
*.swp
.idea


celerybeat-schedule\.dir

celerybeat-schedule\.dat

celerybeat-schedule\.bak

\.vscode/

celerybeat\.pid
