manage.py
landscapesim_project/settings/custom.py
__pycache__/
config.json
landscapesim/migrations/0*.py
Archive/
materials/
stsim-libs/
*.bat
*.swp
.idea
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/workspace.xml
.idea/
