# Data manipulation dependencies
Pillow
GDAL
pyproj==1.9.5.1
rasterio==1.0a5
fiona==1.7.6
git+https://github.com/TaylorMutch/clover@filename-order
mercantile
Shapely==1.5.17
xarray
pdfkit==0.6.1

# Progress bar for long running manage.py tasks
tqdm

# Server dependencies
Django==1.11.7
geopy
celery==3.1.25
django-celery==3.2.1
djangorestframework==3.7.3
psycopg2
ncdjango==0.5.0
aiohttp

# Out of memory data manipulation
dask
toolz
