{% load staticfiles %}
<!DOCTYPE html>

<html>

<head>

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.1/dist/leaflet.css" />
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.1/dist/leaflet.js"></script>

    <!-- ESRI Leaflet -->
    <script src="https://unpkg.com/esri-leaflet@2.0.3"></script>

    <!-- leaflet.grouped-layer-control-->
    <script src="https://rawgithub.com/ismyrnow/Leaflet.groupedlayercontrol/master/src/leaflet.groupedlayercontrol.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.ie.css" /><![endif]-->

    <!-- Leaflet.draw -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.3.2/leaflet.draw.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.3.2/leaflet.draw.css" />

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- JQuery Slider -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <!-- Highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>

    <!-- Tabs -->
    <script src="{% static "js/vendor/tabcontent.js" %}" type="text/javascript"></script>
    <link href="{% static "css/vendor/tabcontent.css" %}" rel="stylesheet" type="text/css" />

    <!-- Alertify -->
    {% comment %}
    <link href="{% static "js/vendor/alertify/alertify.js-0.3.11/themes/alertify.core.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "js/vendor/alertify/alertify.js-0.3.11/themes/alertify.default.css" %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/vendor/alertify/alertify.js-0.3.11/lib/alertify.min.js' %}"></script>
    {% endcomment %}

    <!-- My Javascript -->
    <script src="{%  static "js/general_js.js" %}" type="text/javascript"></script>
    <script src="{% static "js/three.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

    <!-- My CSS -->
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" href="{% static "css/buttons.css" %}" />

</head>

<body class="claro">

    <div id="header"><img id="site_icon" src="{% static 'img/site_icon.png' %}">3D Landscape Simulator</div>

        <div id="left">
            <div id="welcome">
                <div class="header" id="welcome_header">Welcome & Getting Started <img class="collapse_icon" src="{% static 'img/collapse_down_arrow.png' %}"></div>
                <div class="collapsible_div" visibility="visible">
                    <div id="intro">
                        The 3D Landscape Simulator is a web-based state-and-transition modelling framework powered by ST-Sim.
                        <p>
                        It is designed to simulate the future vegetation composition of a selected area based on a set of initial conditions, probabilistic transitions, and management actions.
                        <p>
                        To get started, select an ST-Sim library from the table below then push the start button.<p>
                        <div id="library_info">
                            <table id="library_info_table">
                                <tr><td>Library:</td>
                                    <td>
                                        <div id="model_selection_container">
                                            <select class="model_selection" name="model_selection" id="model_selection1">
                                                <option value="" disabled selected>Select an ST-Sim Library</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td>Author:</td><td><div id="library_author"></div></td></tr>
                                <tr><td>Date:</td><td><div id="library_date"></div></td></tr>
                                <tr><td>Description:</td><td><div id="library_description"></div></td></tr>
                            </table>

                        </div>

                        <input type="button" class="my-button my-button-ok" id="start_button" value="Start" />
                        <!--
                        <p>
                        Then, select an area of interest by clicking on a reporting unit (e.g., a watershed or county)...
                        <div id="click_div"><img id="click_icon" src="{% static 'img/map_click.png' %}"></div>
                        ...or by using the rectangle tool <span style="font-size:20px">&#9632; </span>to define your own area of interest.
                        <p>
                        <div id="click_div"><img id="select_icon" src="{% static 'img/map_select.png' %}"></div>
                        -->
                    </div>
                </div>
            </div>

            <div id="inputs">
                <div id="general_settings">
                    <div class="header">General Settings <img class="collapse_icon" src="{% static 'img/collapse_down_arrow.png' %}"></div>
                    <div class="collapsible_div" visibility="visible">
                        <table id="general_settings_table">
                            {%  comment %}
                            <tr>
                                <td>
                                    <div id="library_div" class="general_settings_div"> Library: </div>
                                </td>
                                <td>
                                    <div class="select_container_2">
                                       <form class="select_form2">
                                           <!-- On change, create the charts, passing in whichever variables the user has selectd in all 3 dropdowns -->
                                           <div class="styled-select2" id="ss1"> <select class="model_selection" name="model_selection" id="model_selection2"> </select> </div>
                                       </form>
                                    </div>
                                </td>
                            </tr>
                            {%  endcomment %}
                            <tr>
                                <td>
                                    <div id="timesteps_div" class="general_settings_div"> Timesteps: </div>
                                </td>
                                <td>
                                    <div class="select_container_2"> <input id="settings_timesteps" type="text" value="20"> </div> </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="iterations_div" class="general_settings_div"> Iterations: </div>
                                </td>
                                <td>
                                    <div class="select_container_2"> <input id="settings_iterations" type="text" value="5"> </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="run_mode_div" class="general_settings_div"> Spatial Output: </div>
                                </td>
                                <td>
                                    <ul id="button_list2" class="buttons buttons2" data-persist="false">
                                        <li id="spatial_button"><a id="spatial_link">Enable</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div id="input_initial_veg">
                    <div class="header" id="steps_initial_vegetation_cover">Initial Vegetation Cover <img class="collapse_icon" src="{% static 'img/collapse_down_arrow.png' %}"></div>
                    <div class="collapsible_div" visibility="visible">
                        <div id="vegtype_slider_container">
                            <table id="vegTypeSliderTable" class="sliderTable"></table>
                        </div>
                        <div id="total_input_percent_div">Total Percent Cover: <div id="total_input_percent">100%</div></div>
                    </div>
                </div>

                <div id="input_probabilistic_transitions">
                    <div class="header">Probabilistic Transitions <img class="collapse_icon rotate90" src="{% static 'img/collapse_down_arrow.png' %}"></div>
                    <div class="collapsible_div" style="display:none">
                        <table id="probabilisticTransitionSliderTable" class="sliderTable"></table>
                    </div>
                </div>

                <input id="run_button" value="Run Model" class="my-button my-button-ok" type="submit">

            </div>

        </div>

        <div id="map"></div>

        <div id="output">
            <div id="running_st_sim" class="header">Running ST-Sim...<div id="results_loading"></div></div>
                 <div id="tab_container" class="collapsible_div">
                    <!--data-persist="true" keeps the current tab active on page refresh-->
                    <ul class="tabs" data-persist="false">
                        <li id="view1_tab" style="display:none"><a id="view1_link" href="#view1">Run 1</a></li>
                        <li id="view2_tab" style="display:none"><a id="view2_link" href="#view2">Run 2</a></li>
                        <li id="view3_tab" style="display:none"><a id="view3_link" href="#view3">Run 3</a></li>
                        <li id="view4_tab" style="display:none"><a id="view4_link" href="#view4">Run 4</a></li>
                    </ul>
                    <div class="tabcontents">
                        <div id="view1" class="views">
                            <div id="tabular_output_1">
                                <table id="results_table_1" class="results_table"></table>
                            </div>
                        </div>
                        <div id="view2" class="views">
                            <div id="tabular_output_2">
                                <table id="results_table_2" class="results_table"></table>
                            </div>
                        </div>
                        <div id="view3" class="views">
                            <div id="tabular_output_3">
                                <table id="results_table_3" class="results_table"></table>
                            </div>
                        </div>
                        <div id="view4" class="views">
                            <div id="tabular_output_4">
                                <table id="results_table_4" class="results_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Leaflet Map -->
        <script src="{%  static "leaflet/leaflet_map.js" %}" type="text/javascript"></script>

        <!-- Stacked Area Chart -->
        <script src="{% static 'highcharts/stacked_area.js' %}"></script>

        <!-- Column Chart -->
        <script src="{% static 'highcharts/column_chart.js' %}"></script>

        <!-- Library Configuration -->
        <script src="{% static 'config/library_config.js' %}"></script>

</body>
</html>