{% load staticfiles %}
<!DOCTYPE html>

<html>

<head>
<title>Landscape Simulator</title>
    <link rel="shortcut icon" href="{% static 'img/site_icon.png' %}" />

    <!-- 'fetch' polyfill -->
    <script src="{% static "js/vendor/fetch.js" %}"></script>

    <!-- Three.js -->
    <script src="{% static "js/vendor/three/three.min.js" %}"></script>
    <script src="{% static "js/vendor/three/OrbitControls.js" %}"></script>

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://npmcdn.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <!-- ESRI Leaflet -->
    <script src="https://unpkg.com/esri-leaflet@2.0.3"></script>

    <!-- leaflet.grouped-layer-control-->
    <script src="https://rawgithub.com/ismyrnow/Leaflet.groupedlayercontrol/master/src/leaflet.groupedlayercontrol.js"></script>
    <!--link rel="stylesheet" href="https://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css" /-->
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@0.6.2/dist/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="https://cdn.leafletjs.com/leaflet-0.6.2/leaflet.ie.css" /><![endif]-->

    <!-- Leaflet.Draw -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.js"></script>

    <!-- Leaflet.Range -->
    <link rel="stylesheet" href="{% static "css/vendor/L.Control.Range.css" %}" />
    <script src="{% static "js/vendor/L.Control.Range-min.js" %}"></script>

    <!-- Leaflet.Basemaps -->
    <link rel="stylesheet" href="{% static "css/vendor/L.Control.Basemaps.css" %}" />
    <script src="{% static "js/vendor/L.Control.Basemaps-min.js" %}"></script>


    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- JQuery Slider -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <!-- Highcharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>

    <!-- Tabs -->
    <!--script src="{% static 'js/vendor/tabcontent.js' %}" type="text/javascript"></script>
    <link href="{% static 'css/vendor/tabcontent.css' %}" rel="stylesheet" type="text/css" /-->

    <!-- Alertify -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.min.js"></script>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.core.css">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.bootstrap.min.css">

    <!-- Terraformer for converting the polygons to WKT -->
    <script src="https://unpkg.com/terraformer@1.0.7"></script>
    <script src="https://unpkg.com/terraformer-wkt-parser@1.1.2"></script>

    <!-- Shapefile JS -->
    <script src="{%  static "js/vendor/shapefile-js-gh-pages/dist/shp.min.js" %}"> </script>

    <!-- My Javascript -->
    <script src="{%  static "js/general_js.js" %}" type="text/javascript"></script>
    <script src="{%  static "js/context_help.js" %}" type="text/javascript"></script>

    <!-- My CSS -->
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" href="{% static "css/buttons.css" %}" />
    <link rel="stylesheet" href="{% static "css/toggle.css" %}" />
    <link rel="stylesheet" href="{% static "css/popup.css" %}" />
</head>
<body>
    <div id="header"><img id="site_icon" src="{% static 'img/site_icon.png' %}">
        <ul style="float: left;">
            <li style="padding: 3px 10px">
                Landscape Simulator    
            </li>    
        </ul>
        <ul style="float: right; padding-right:40px;">
            <li><a class="modal-item" id="purpose">Purpose</a></li>
            <li><a class="modal-item" id="st-sim">STSMs</a></li>
            <li><a class="modal-item" id="instructions">Instructions</a></li>
            <li><a class="modal-item" id="contact">Contact</a></li>
        </ul>
    </div>
        <div id="left">

            <!-- Welcome and Library Widgets -->
            <div class="widget_div" id="welcome">
                <div class="header" id="welcome_header">
                    Welcome & Getting Started
                    <img class="collapse_icon" src="{% static 'img/collapse_down_arrow.png' %}">
                </div>
                <div class="collapsible_div" visibility="visible">
                    <div id="intro">
                        The Landscape Simulator is a web-based state-and-transition modelling framework powered by <!--<a href="http://syncrosim.com/index.php?title=SyncroSim" target="_blank"-->ST-Sim<!--/a-->.
                        <p>
                        It is designed to simulate the future vegetation composition of a selected area based on a set of initial conditions, probabilistic transitions, and management actions.
                        <p>
                        To get started, select a library from the table below.<p>
                    </div>
                </div>
            </div>

            <div class="widget_div">
                <div class="header" id="library_header">
                    ST-Sim Library
                    <span class="context_button" id="library"> <img class="context_img" src="/static/img/help.png"></span>
                    <img class="collapse_icon" src="{% static 'img/collapse_down_arrow.png' %}"></div>
                <div class="collapsible_div" visibility="visible">
                    <div id="library_info">
                        <table id="library_info_table">
                            <tr><td class="library_info_hidden">Library:</td>
                                <td id=model_selection_td class="initial_td_styling">
                                    <div id="model_selection_container">
                                        <select class="model_selection" name="model_selection" id="model_selection1">
                                            <option disabled selected>Select a Library</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr class="library_info_hidden"><td>Author:</td><td><div id="library_author"></div></td></tr>
                            <tr class="library_info_hidden"><td>Date:</td><td><div id="library_date"></div></td></tr>
                            <tr class="library_info_hidden"><td>Description:</td><td><div id="library_description"></div></td></tr>
                        </table>
                        <input type="button" class="my-button my-button-ok" id="start_button" value="Load Library" />
                    </div>
                            <!--
                            <p>
                            Then, select an area of interest by clicking on a reporting unit (e.g., a watershed or county)...
                            <div id="click_div"><img id="click_icon" src="{% static 'img/map_click.png' %}"></div>
                            ...or by using the rectangle tool <span style="font-size:20px">&#9632; </span>to define your own area of interest.
                            <p>
                            <div id="click_div"><img id="select_icon" src="{% static 'img/map_select.png' %}"></div>
                            -->
                </div>
            </div>

            <!-- Other input Widgets -->
            <div id="inputs">
                <div class="widget_div">
                    <div id="input_initial_veg">
                        <div class="header full_border_radius" id="steps_initial_vegetation_cover">
                            Initial Vegetation Composition
                            <span class="context_button" id="vegcover"> <img class="context_img" src="/static/img/help.png"></span>
                            <img class="collapse_icon" src="{% static 'img/collapse_down_arrow.png' %}">
                        </div>
                        <div id="initial_vegetation_container" class="collapsible_div collapsed full_border_radius">
                            <div id="veg_slider_notice">Note: Initial vegetation cover values can only be modified when doing a non-spatial run (under Run Control, set the spatial output switch to "Off").</div>
                            <div id="vegtype_slider_container">
                                <table id="vegTypeSliderTable" class="sliderTable"></table>
                            </div>
                            <div id="total_input_percent_div">Total Percent Cover: <div id="total_input_percent">100%</div></div>
                        </div>
                    </div>
                </div>

                <div class="widget_div">
                    <div id="input_probabilistic_transitions">
                        <div class="header full_border_radius">
                            Probabilistic Transitions
                            <span class="context_button" id="probabilities"> <img class="context_img" src="/static/img/help.png"></span>
                            <img class="collapse_icon rotate90" src="{% static 'img/collapse_down_arrow.png' %}">
                        </div>
                        <div class="collapsible_div collapsed">
                            <table id="probabilisticTransitionSliderTable" class="sliderTable"></table>
                        </div>
                    </div>
                </div>

                <div class="widget_div">
                    <div id="general_settings">
                        <div class="header full_border_radius">
                            Run Control
                            <span class="context_button" id="run-control"> <img class="context_img" src="/static/img/help.png"></span>
                            <img class="collapse_icon rotate90" src="{% static 'img/collapse_down_arrow.png' %}">
                        </div>
                        <div class="collapsible_div collapsed" >
                            <table id="general_settings_table">
                                <tr>
                                    <td>
                                        <div id="timesteps_div" class="general_settings_div"> Timesteps: </div>
                                    </td>
                                    <td>
                                        <div class="select_container_2"> <input id="settings_timesteps" type="text"> </div> </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="iterations_div" class="general_settings_div"> Iterations: </div>
                                    </td>
                                    <td>
                                        <div class="select_container_2"> <input id="settings_iterations" type="text" value="1"> </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="run_mode_div" class="general_settings_div"> Spatial Output: </div>
                                    </td>
                                    <td>
                                        <div id="spatial_control">
                                            <div class="spatial_off">Off</div>
                                                    <label class="switch">
                                                      <input id="spatial_switch" checked type="checkbox">
                                                        <div class="slider round">
                                                            <div class="round-handle"></div>
                                                        </div>
                                                    </label>
                                            <div class="spatial_on"> On</div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="run_button" class="my-button my-button-ok" type="submit">Run Model</div>
            </div>
        </div>

        <div id="scene-toggle">
            <label class="switch">
                <input id="scene-switch" type="checkbox">
                <div class="slider round map-slider">
                    <div class="round-handle">
                        <div class="round-handle-text">
                            3D
                        </div>
                    </div>
                </div>
            </label>
        </div>


        <div id="map"></div>
        <div id="scene" style="display: none"></div>
        <div id="right">
            <div id="progressbar-container" class="progressbar-container full_border_radius" style="display: none;" >
                <div id="progressbar" class="progressbar">
                    <div id="progresslabel" class="progresslabel">
                        Waiting for worker...
                    </div>
                </div>
            </div>
            <div id="legend_container" class="widget_div">
                <div id="legend_header" class="full_border_radius header right_header">Legend<img class="collapse_icon" src="{% static 'img/collapse_down_arrow.png' %}"></div>
                <div class="collapsible_div collapsed">
                    <div id="scene_legend"></div>
                </div>
            </div>

            <div id="output">
                <div id="model_results_header" class="right_header">Model Results<img class="collapse_icon rotate90" src="{% static 'img/collapse_down_arrow.png' %}"></div>
                    <div id="results_container" class="collapsible_div">
                        <div style="padding-bottom: 10px">
                            <select id="model-run-select"></select>
                            <input type="button" class="my-button my-button-ok download-data" id="download-data" value="Download Data &amp; Results">
                        </div>
                        <div id="results_viewer">
                            <div id="tabular_output">
                                <table id="results_table" class="results_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="time-slider"></div>
            </div>
        </div>

        <div id="footer">
            <img id="footerImage" src="{%  static 'img/CBI_logo_sm.png' %}">
            <div id="footerText">
                © 2017
                <a href="https://consbio.org" target="_new">Conservation Biology Institute</a> |
                <a href="mailto:info@consbio.org">info@consbio.org</a>
            </div>
        </div>

        <!-- Hidden div for displaying popups -->
        <div id="pop-up"></div>

        <!-- Leaflet Map -->
        <script src="{%  static "js/leaflet_map.js" %}" type="text/javascript"></script>
        <script src="{%  static "js/vendor/xyz.js" %}" type="text/javascript"></script>
        <!-- Stacked Area Chart -->
        <script src="{% static 'js/stacked_area.js' %}"></script>

        <!-- Column Chart -->
        <script src="{% static 'js/column_chart.js' %}"></script>

        <!-- Library Configuration -->
        <script src="{% static 'js/config/library_config.js' %}"></script>
        <script src="{% static 'js/config/units.js' %}"></script>

        <!-- Shapefile Uploader -->
        <script src="{% static 'js/vendor/L.Control.Shapefile/L.Control.Shapefile.js' %}"></script>
        <link rel="stylesheet"  href="{% static 'js/vendor/L.Control.Shapefile/L.Control.Shapefile.css' %}">

        <!-- My leaflet button control -->
        <script src="{%  static 'js/cost_button.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/cost_button.css' %}">

        <!-- Management Action Scripts -->
        <script src="{% static 'js/cost.js' %}"></script>
        <script src="{% static 'js/manage.js' %}"></script>
        <script src="{%  static 'js/scene.js' %}"></script>
        <link rel="stylesheet"  href="{% static 'css/cost.css' %}">
        <link rel="stylesheet"  href="{% static 'css/manage.css' %}">

        <!-- Text for modals -->
        <script type="x-text" id="x-purpose">
        <div class="alertify-step">
            The <b>Landscape Simulator</b> is a web mapping application for visualizing outputs from state and transition simulation models (STSMs).
            <br><br>
            Its primary purpose is to <b>help land managers understand</b> how vegetation composition will change over time due to stochastic events (e.g. fire, disease) and land use and management actions (e.g. treatments).
            <br><br>
            Users can visualize how <b>natural events</b> and <b>human actions</b> change the landscape in the future, and use the application to plan for climate adaptation or disturbance mitigation.
        </div>
        </script>
        <script type="x-text" id="x-st-sim">
        <div class="alertify-step">
            This tool utilizes <b>State and Transition Simulation Models (STSMs)</b>, which are designed to simulate changes in vegetation cover over time.
            <br><br>
            Vegetation cover is described in terms of <b>state classes</b> which are defined as a unique combination of <b>cover type</b> (grass, shrub, tree) and <b>structural stage</b> (i.e. age).
            <br><br>
            STSMs can be run multiple times in a <b>Monte Carlo</b> environment to evaluate the uncertainty across all possible vegetation projections. We use software from the VDDT family, 
            called <!--<a href="http://www.apexrms.com/state-and-transition-simulation-models/" target="_blank">-->ST-Sim<!--/a-->, and provide in this application 
            a visualization and analysis interface to give natural resource managers a way to explore the possible futures of their landscape.
            <!--<br><br>
            To learn more about ST-Sim, please contact Leonardo Frid (email) or visit <a href='http://syncrosim.com/index.php?title=SyncroSim' target='_blank'>syncrosim.com</a>.-->
        </div>
        </script>
        <script type="x-text" id="x-instructions">
            <div class='alertify-step'>
                <div class='alertify-subheader'>1. Select an <b>ST-Sim Library</b>.</div>
            </div>
            <div class='alertify-step'>
                <div class='alertify-subheader'>2. Review the <b>Initial Vegetation Composition</b>.</div>
                When the model is run in the spatially explicit mode, the initial vegetation composition cannot be changed. 
                If you want to experiment with alternative vegetation compositions, you can disable spatial output under <b>Run Control</b>. 
                This can lead to faster model runs in exchange for no geospatial visualizations provided by this tool, including maps.
                <br><br>
                <b>Recommendation</b>: If you are not familiar with STSMs or ST-Sim in particular, the model should be run in the spatially explicit mode.
            </div>
            <div class='alertify-step'>
                <div class='alertify-subheader'>3. Adjust the <b>Probabilistic Transition</b> effects.</div>
                This allows the user to change the probability of events across the landscape. 
                For example, to increase by 50% the likelihood of an insect or disease outbreak, the user can adjust the appropriate slider to that number.
            </div>
            <div class='alertify-step'>
                <div class='alertify-subheader'>4a. Set the <b>Run Control</b>.</div>
                Users can determine the number of timesteps to run the model, the number of Monte-Carlo iterations to evaluate uncertainty, and whether 
                to produce spatial output (i.e. time-series maps).
                <br><br>
                <b>Recommendation</b>: While discovering this tool and evaluating the usefulness of STSMs, use only one iteration for the model run.
            </div>
            <div class='alertify-step'>
                <div class='alertify-subheader'>4b. <b>Apply Management Actions</b> (Optional)</div>
                As an option, the user can define a set of management actions on a fraction of the landscape using the management action controls on the left hand side of the map.
                <table style="margin-top: 10px">
                    <tbody>
                        <tr>
                            <td><img src='static/img/instructions/actions.png'><td>
                            <td>Set the list of available management actions and their dollar amount per acre.<td>
                        </tr>
                        <tr>
                            <td><img src='static/img/instructions/shapefile.png'><td>
                            <td>Upload a zipped shapefile delineating a management unit where a specific management action is applied.<td>
                        </tr>
                        <tr>
                            <td><img src='static/img/instructions/draw.png'><td>
                            <td>Alternatively, use the polygon or box tool to manually delineate a management unit on the map where a specific management action is applied.<td>
                        </tr>
                        <tr>
                            <td><img src='static/img/instructions/edit-draw.png'><td>
                            <td>Edit a management action boundary.<td>
                        </tr>
                    </tbody>
                </table>
                Once the user has set the available management actions and has delineated a management action on the map, 
                the user defines the time steps when the management actions will be applied. 
                In the example below, the user has indicated that they would like to conduct a prescribed burn during years 1 and 3 of the model run.
                <br>
                <img class='alertify-img' src='static/img/instructions/manage-poly.png'>
            </div>
            <div class='alertify-step'>
                <div class='alertify-subheader'>5. <b>Run The Model</b>.</div>
                A progress bar will appear in the top right of the application showing the current status of your model run.
                <br>
                <div class="progressbar-container full_border_radius" style="margin-top: 10px;">
                    <div class="progressbar" style="width: 33%!important">
                        <div class="progresslabel" style="position: inherit !important">
                            33% Complete
                        </div>
                    </div>
                </div>
            </div>
            <div class='alertify-step' style='margin-bottom: -50px'>
                <div class='alertify-subheader'>6. <b>Examine the Model Results</b>.</div>
                Results are shown as:
                <ul>
                    <li>as an interactive map,
                        <br>
                        <img class='alertify-img' src='static/img/instructions/map-layer.png'>
                        <br>
                    </li>
                    <li>
                        bar charts with the final distribution of the vegetation composition at the end of the simulation, and
                        <br>
                        <img class='alertify-img' src='static/img/instructions/column-chart.png'>
                        <br>
                    </li>
                    <li>
                        stacked area charts displaying change in vegetation composition during the simulation.
                        <br>
                        <img class='alertify-img' src='static/img/instructions/stacked-chart.png'>
                        <br>
                    </li>
                </ul>
            </div>
            <div class='alertify-step'>
                <div class='alertify-subheader'>7. <b>Download Model Results and Reports</b>.</div>
                After a model has been run, you can download results by clicking the 
                <input disabled type="button" class="my-button my-button-ok download-data" style="width: 37%!important" value="Download Data &amp; Results"> 
                button under the <b>Model Results</b> tab.
            </div>
        </script>
        <script type="x-text" id="x-contact">
        <div class="alertify-step">
            <p>For <b>general information</b> about the Landscape Simulator:
                <ul>
                    <li>Dominique Bachelet (bacheled@oregonstate.edu)</li>
                </ul>
            <p>For <b>technical questions</b> about the Landscape Simulator:
                <ul>
                    <li>Mike Gough (mike.gough@consbio.org)</li>
                    <li>Taylor Mutch (taylor.mutch@consbio.org)</li>
                </ul>
            <p>To report an issue, please visit our <a href='https://github.com/consbio/landscapesim/issues/new' target='_blank'>issue tracker</a>.</p>
        </div>
        </script>

        <!-- Text for hover text -->
        <script type="x-text" id="x-library">
            Choose a scenario to load. Scenarios are based on available STSM models.
        </script>
        <script type="x-text" id="x-vegcover">
            Vegetation present in this study area, separated by percent cover.
        </script>
        <script type="x-text" id="x-probabilities">
            Adjust probabilities to affect the rate at which vegetation will change due to disturbances.
        </script>
        <script type="x-text" id="x-run-control">
            Configure the scenario model run length.
        </script>
</body>
</html>
