{% load staticfiles %}
<!DOCTYPE html>

<html>

<head>
<title>Landscape Simulator</title>
    <link rel="shortcut icon" href="{% static 'img/site_icon.png' %}" />

    <!-- Three.js -->
    <script src="{% static "js/vendor/three/three.min.js" %}"></script>
    <script src="{% static "js/vendor/three/OrbitControls.js" %}"></script>

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://npmcdn.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <!-- ESRI Leaflet -->
    <script src="https://unpkg.com/esri-leaflet@2.0.3"></script>

    <!-- leaflet.grouped-layer-control-->
    <script src="https://rawgithub.com/ismyrnow/Leaflet.groupedlayercontrol/master/src/leaflet.groupedlayercontrol.js"></script>
    <!--link rel="stylesheet" href="https://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css" /-->
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@0.6.2/dist/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="https://cdn.leafletjs.com/leaflet-0.6.2/leaflet.ie.css" /><![endif]-->

    <!-- Leaflet.Draw -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.js"></script>

    <!-- Leaflet.Range -->
    <link rel="stylesheet" href="{% static "css/L.Control.Range.css" %}" />
    <script src="{% static "js/vendor/L.Control.Range-min.js" %}"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- JQuery Slider -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <!-- Highcharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>

    <!-- Tabs -->
    <!--script src="{% static 'js/vendor/tabcontent.js' %}" type="text/javascript"></script>
    <link href="{% static 'css/vendor/tabcontent.css' %}" rel="stylesheet" type="text/css" /-->

    <!-- Alertify -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.min.js"></script>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.core.css">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.bootstrap.min.css">

    <!-- Terraformer for converting the polygons to WKT -->
    <script src="https://unpkg.com/terraformer@1.0.7"></script>
    <script src="https://unpkg.com/terraformer-wkt-parser@1.1.2"></script>

    <!-- Shapefile JS -->
    <script src="{%  static "js/vendor/shapefile-js-gh-pages/dist/shp.min.js" %}"> </script>

    <!-- My Javascript -->
    <script src="{%  static "js/general_js.js" %}" type="text/javascript"></script>
    <script src="{%  static "js/context_help.js" %}" type="text/javascript"></script>

    <!-- My CSS -->
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" href="{% static "css/buttons.css" %}" />
    <link rel="stylesheet" href="{% static "css/toggle.css" %}" />
    <link rel="stylesheet" href="{% static "css/popup.css" %}" />
</head>
<body>
    <div id="header"><img id="site_icon" src="{% static 'img/site_icon.png' %}">
        <ul style="float: left;">
            <li style="padding: 3px 10px">
                Landscape Simulator    
            </li>    
        </ul>
        <ul style="float: right; padding-right:40px;">
            <li><a class="modal-item" id="purpose">Purpose</a></li>
            <li><a class="modal-item" id="st-sim">STSMs</a></li>
            <li><a class="modal-item" id="instructions">Instructions</a></li>
            <li><a class="modal-item" id="contact">Contact</a></li>
        </ul>
    </div>
        <div id="left">

            <!-- Welcome and Library Widgets -->
            <div class="widget_div" id="welcome">
                <div class="header" id="welcome_header">
                    Welcome & Getting Started
                    <img class="collapse_icon" src="{% static 'img/collapse_down_arrow.png' %}">
                </div>
                <div class="collapsible_div" visibility="visible">
                    <div id="intro">
                        The Landscape Simulator is a web-based state-and-transition modelling framework powered by <a href="http://syncrosim.com/index.php?title=SyncroSim" target="_blank">ST-Sim</a>.
                        <p>
                        It is designed to simulate the future vegetation composition of a selected area based on a set of initial conditions, probabilistic transitions, and management actions.
                        <p>
                        To get started, select a library from the table below.<p>
                    </div>
                </div>
            </div>

            <div class="widget_div">
                <div class="header" id="library_header">
                    ST-Sim Library
                    <span class="context_button" id="library"> <img class="context_img" src="/static/img/help.png"></span>
                    <img class="collapse_icon" src="{% static 'img/collapse_down_arrow.png' %}"></div>
                <div class="collapsible_div" visibility="visible">
                    <div id="library_info">
                        <table id="library_info_table">
                            <tr><td class="library_info_hidden">Library:</td>
                                <td id=model_selection_td class="initial_td_styling">
                                    <div id="model_selection_container">
                                        <select class="model_selection" name="model_selection" id="model_selection1">
                                            <option disabled selected>Select a Library</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr class="library_info_hidden"><td>Author:</td><td><div id="library_author"></div></td></tr>
                            <tr class="library_info_hidden"><td>Date:</td><td><div id="library_date"></div></td></tr>
                            <tr class="library_info_hidden"><td>Description:</td><td><div id="library_description"></div></td></tr>
                        </table>
                        <input type="button" class="my-button my-button-ok" id="start_button" value="Load Library" />
                    </div>
                            <!--
                            <p>
                            Then, select an area of interest by clicking on a reporting unit (e.g., a watershed or county)...
                            <div id="click_div"><img id="click_icon" src="{% static 'img/map_click.png' %}"></div>
                            ...or by using the rectangle tool <span style="font-size:20px">&#9632; </span>to define your own area of interest.
                            <p>
                            <div id="click_div"><img id="select_icon" src="{% static 'img/map_select.png' %}"></div>
                            -->
                </div>
            </div>

            <!-- Other input Widgets -->
            <div id="inputs">
                <div class="widget_div">
                    <div id="input_initial_veg">
                        <div class="header full_border_radius" id="steps_initial_vegetation_cover">
                            Initial Vegetation Cover
                            <span class="context_button" id="vegcover"> <img class="context_img" src="/static/img/help.png"></span>
                            <img class="collapse_icon" src="{% static 'img/collapse_down_arrow.png' %}">
                        </div>
                        <div id="initial_vegetation_container" class="collapsible_div collapsed full_border_radius">
                            <div id="veg_slider_notice">Note: Initial vegetation cover values can only be modified when doing a non-spatial run (under Run Control, set the spatial output switch to "Off").</div>
                            <div id="vegtype_slider_container">
                                <table id="vegTypeSliderTable" class="sliderTable"></table>
                            </div>
                            <div id="total_input_percent_div">Total Percent Cover: <div id="total_input_percent">100%</div></div>
                        </div>
                    </div>
                </div>

                <div class="widget_div">
                    <div id="input_probabilistic_transitions">
                        <div class="header full_border_radius">
                            Probabilistic Transitions
                            <span class="context_button" id="probabilities"> <img class="context_img" src="/static/img/help.png"></span>
                            <img class="collapse_icon rotate90" src="{% static 'img/collapse_down_arrow.png' %}">
                        </div>
                        <div class="collapsible_div collapsed">
                            <table id="probabilisticTransitionSliderTable" class="sliderTable"></table>
                        </div>
                    </div>
                </div>

                <div class="widget_div">
                    <div id="general_settings">
                        <div class="header full_border_radius">
                            Run Control
                            <span class="context_button" id="run-control"> <img class="context_img" src="/static/img/help.png"></span>
                            <img class="collapse_icon rotate90" src="{% static 'img/collapse_down_arrow.png' %}">
                        </div>
                        <div class="collapsible_div collapsed" >
                            <table id="general_settings_table">
                                {%  comment %}
                                    <tr>
                                        <td>
                                            <div id="library_div" class="general_settings_div"> Library: </div>
                                        </td>
                                        <td>
                                            <div class="select_container_2">
                                                <form class="select_form2">
                                                    <!-- On change, create the charts, passing in whichever variables the user has selectd in all 3 dropdowns -->
                                                    <div class="styled-select2" id="ss1"> <select class="model_selection" name="model_selection" id="model_selection2"> </select> </div>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {%  endcomment %}
                                <tr>
                                    <td>
                                        <div id="timesteps_div" class="general_settings_div"> Timesteps: </div>
                                    </td>
                                    <td>
                                        <div class="select_container_2"> <input id="settings_timesteps" type="text"> </div> </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="iterations_div" class="general_settings_div"> Iterations: </div>
                                    </td>
                                    <td>
                                        <div class="select_container_2"> <input id="settings_iterations" type="text" value="1"> </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="run_mode_div" class="general_settings_div"> Spatial Output: </div>
                                    </td>
                                    <td>
                                        <div id="spatial_control">
                                            <div class="spatial_off">Off</div>
                                                    <label class="switch">
                                                      <input id="spatial_switch" checked type="checkbox">
                                                        <div class="slider round">
                                                            <div class="round-handle"></div>
                                                        </div>
                                                    </label>
                                            <div class="spatial_on"> On</div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="run_button" class="my-button my-button-ok" type="submit">Run Model</div>
            </div>
        </div>

        <div id="scene-toggle">
            <label class="switch">
                <input id="scene-switch" type="checkbox">
                <div class="slider round map-slider">
                    <div class="round-handle">
                        <div class="round-handle-text">
                            3D
                        </div>
                    </div>
                </div>
            </label>
        </div>


        <div id="map"></div>
        <div id="scene" style="display: none"></div>
        <div id="right">

            <div id="legend_container" class="widget_div">
                <div id="legend_header" class="full_border_radius header right_header">Legend<img class="collapse_icon" src="{% static 'img/collapse_down_arrow.png' %}"></div>
                <div class="collapsible_div collapsed">
                    <div id="scene_legend"></div>
                </div>
            </div>

            <div id="output">
                <div id="model_results_header" class="right_header">Model Results<img class="collapse_icon rotate90" src="{% static 'img/collapse_down_arrow.png' %}"></div>
                    <div id="results_container" class="collapsible_div">
                        <div style="padding-bottom: 10px">
                            <select id="model-run-select"></select>
                            <input type="button" class="my-button my-button-ok" id="download-data" value="Download Data &amp; Results">
                        </div>
                        <div id="results_viewer">
                            <div id="tabular_output">
                                <table id="results_table" class="results_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="time-slider"></div>
            </div>
        </div>

        <div id="footer">
            <img id="footerImage" src="{%  static 'img/CBI_logo_sm.png' %}">
            <div id="footerText">
                © 2017
                <a href="https://consbio.org" target="_new">Conservation Biology Institute</a> |
                <a href="mailto:info@consbio.org">info@consbio.org</a>
            </div>
        </div>

        <!-- Hidden div for displaying popups -->
        <div id="pop-up"></div>

        <!-- Leaflet Map -->
        <script src="{%  static "js/leaflet_map.js" %}" type="text/javascript"></script>
        <script src="{%  static "js/vendor/xyz.js" %}" type="text/javascript"></script>
        <!-- Stacked Area Chart -->
        <script src="{% static 'js/stacked_area.js' %}"></script>

        <!-- Column Chart -->
        <script src="{% static 'js/column_chart.js' %}"></script>

        <!-- Library Configuration -->
        <script src="{% static 'js/config/library_config.js' %}"></script>
        <script src="{% static 'js/config/units.js' %}"></script>

        <!-- Shapefile Uploader -->
        <script src="{% static 'js/vendor/L.Control.Shapefile/L.Control.Shapefile.js' %}"></script>
        <link rel="stylesheet"  href="{% static 'js/vendor/L.Control.Shapefile/L.Control.Shapefile.css' %}">

        <!-- My leaflet button control -->
        <script src="{%  static 'js/cost_button.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/cost_button.css' %}"/>

        <!-- Management Action Scripts -->
        <script src="{% static 'js/cost.js' %}"></script>
        <script src="{% static 'js/manage.js' %}"></script>
        <script src="{%  static 'js/scene.js' %}"></script>
        <link rel="stylesheet"  href="{% static 'css/cost.css' %}">
        <link rel="stylesheet"  href="{% static 'css/manage.css' %}">

        <!-- Text for modals -->
        <script type="x-text" id="x-purpose">
            The Landscape Simulator is a GIS mapping application for visualizing outputs from state-and-transition simulation (STSM) models.
            <br><br>
            It's primary purpose is to help land managers understand how vegetation composition will change due to stochastic events (e.g. fire, disease) and prescribed management actions (e.g. treatments). 
            Users can visualize how these effects change the landscape in the future, and can be used to help plan for future adaptation or other landscape changes.
        </script>
        <script type="x-text" id="x-st-sim">
            This tool utilizes State and Transition Simulation Models, or STSMs, which is the next evolution of the VDDT models. 
            STSM models can be run in a Monte Carlo environment using spatially explicit inputs to produce more accurate vegetation 
            dynamic projections. We build on top of ST-Sim, a plugin for <a href="http://syncrosim.com/index.php?title=SyncroSim" target="_blank">SyncroSim</a> by providing a visualization and analysis interface to give land managers a 
            better picture of the future of their landscape.
            <br><br>
            To learn more about ST-Sim, please visit <a href='http://syncrosim.com/index.php?title=SyncroSim' target='_blank'>syncrosim.com</a>.
        </script>
        <script type="x-text" id="x-instructions">
            1. <b>Select a ST-Sim model library</b>.
            <br><br>
            2. <b>Edit initial vegetation composition for the scenario</b>. When running spatially explicit, initial vegetation composition is not editable. However, running non-spatially explicit can run faster and produce quick, iterative changes. It is recommended that if you are not familiar with ST-Sim that you run spatially explicit.
            <br><br>
            3. <b>Adjust the probabilistic transition effects</b>. This allows the user to apply global probability changes across the landscape. For example, to run the scenario with a 50 percent greater change for insect and disease to occur, the user can adjust the appropriate slider to apply the effect.
            <br><br>
            4. <b>Set the model run contorl</b>. Users can determine the number of timesteps and Monte-Carlo iterations to run the model for, allowing the user to observe a distribution of probabilistic outcomes. It is recommend that when first learning ST-Sim to only run the tool with one (1) iteration.
            <br><br>
            5. <b>Run the model</b>. As the model progresses, users will see an updated map, visualizing the progress of the model.
            <br><br>
            6. <b>Review the model results</b>. Results are viewable in the following ways: 1) As a bar chart, visualizing the final distribution of the vegetation composition at the end of the simulation, 2) as stacked area charts, visualizing the change in the vegetation composition during the simulation, and 3) as an interactive map.
            <br><br>
            7. (TODO) <b>Download model results and reports</b> for further analysis.
        </script>
        <script type="x-text" id="x-contact">
            For more information, contact <a href="mailto:info@consbio.org">info@consbio.org</a>.
            <br><br>
            To report an issue, please visit our <a href='https://github.com/consbio/landscapesim/issues/new' target='_blank'>issue tracker</a>.
        </script>

        <!-- Text for hover text -->
        <script type="x-text" id="x-library">
            Choose a scenario to load. Scenarios are based on available STSM models.
        </script>
        <script type="x-text" id="x-vegcover">
            Vegetation present in this study area, separated by percent cover.
        </script>
        <script type="x-text" id="x-probabilities">
            Adjust probabilities to affect the rate at which vegetation will change due to disturbances.
        </script>
        <script type="x-text" id="x-run-control">
            Configure the scenario model run length.
        </script>
</body>
</html>
