body {
    color:#444343;
    width:100%;
    font-family:Helvetica;
    font-size:.9em;
	margin:0px;
	height:100%;
	overflow-x:hidden;
	overflow-y:hidden;
}

#intro {
	padding: 5px 15px;
}
canvas {
    width: 100%;
    height: 100%;
}

#header {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	width: 100%;
	font-weight: bold;
	height: 50px;
	background-color: #424242;
	font-size: 18px;
	padding-left: 10px;
	line-height: 45px;
	color: #e3e3e3;
}

#contents {
    top:50px;
    width:100%;
    position:relative
}

#left {
	position: relative;
	width: 336px;
	float: left;
	margin-left: 2px;
	z-index: 99999;
	top: 50px;
	height: calc(100% - 90px);
	max-height: calc(100% - 90px);
	padding: 20px;
	/* overflow-y: auto; */
	/* overflow-x: hidden; */
}

.header {
	cursor: pointer;
	background-color: #0092D1;
	height: 22px;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 22px;
	padding: 10px;
	border-radius: 5px 5px 0px 0px;
	width: calc(100% - 20px);
	font-size: 1.1em;
	border: 1px solid #0092D1;
	left: -1px;
	position: relative;
}

.widget_div {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.65);
	border-radius: 5px;
	margin-bottom: 7px;
}

.full_border_radius{
	border-radius: 5px;
}

.collapse_icon {
	float: right;
	position: relative;
	height: 20px;
	right: 5px;
}

.rotate90 {
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
}

.collapsible_div {
	background-color: rgba(255,255,255,.9);
	width: 100%;
	padding: 5px 0px;
	margin-bottom: 15px;
	border-radius: 0px 0px 5px 5px;
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.65); */
	overflow-y: auto;
	overflow-x: hidden;
	max-height: calc(100vh - 400px);
}

.collapsed {
	display: none;
}

#library_info{
	margin:15px;
}

#library_info_table{
	border-collapse:collapse;
}

#library_info_table td {
	border: 1px solid #fff;
	padding: 8px;
	background-color: #ddd;
	color: #353434;
}

#library_info_table td:first-child {
	text-align:right;
	background-color: lightblue;
}

#start_button {
	margin: 20px 0px;
	float: right;
	border: 0px;
	cursor: pointer;
	text-shadow: 1px 1px 0 rgba(0,0,0,.2);
}

#inputs{
	display:none;
}

#model_selection_container{
	width:100%;
	text-align:center;
}
#model_selection1{
	margin-right:auto;
	margin-right:auto;
	width:100%;
}
#model_selection2{
	width:100%;
}

#button_container {
	position: relative;
    height: 85vh;
    width:calc(100% - 695px);
    left:0px;
	top: -38px;
	float: left;
	border-radius: 5px;
}

#scene_loading_img {
	height: 120px;
	top: 300px;
	position: relative;
}

#scene_loading_div {
	position: absolute;
	height: 85vh;
	width: 102%;
	top: 38px;
	z-index: 999999;
	opacity: .85;
	background-color: white;
	display: none;
	text-align: center;
}

#map {
	position: absolute;
	top: 50px;
	height: calc(100vh - 50px);
	width: 100%;
	float: left;
}

#scene {
    position:relative;
    top:-10px;
    border-radius:5px;
    width: 100%;
    height: 100%;
}

#output {
	display: none;
	position: relative;
	width: 355px;
	float: right;
	margin-right: 20px;
	z-index: 9999;
	top: 70px;
	background-color:white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.65);
	border-radius: 5px;
	margin-bottom: 7px;
}

#animation_container {
	/*background-color: #0092D1;*/
	background-color: #E9E9E9;
	font-weight: bold;
	padding: 9px 0px 9px 9px;
	border-radius: 5px;
	display: none;
	position: absolute;
	bottom: 30px;
	left: 30px;
	z-index: 1000;
	width: 243px;
}

#selected_features {
	float: right;
	position: absolute;
	top: 45px;
	right: 10px;
	background-color: RGBA(0, 146, 209, 0) !important;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: .8em;
}
.highlight_selected{
    background:#1EBA36;
}

.remove_highlight_selected{
    background:white
}


.lefthand_scroll {
	direction: rtl;
	overflow-x: hidden !important;
	height: 36vh;
	z-index: 999999;
	width: 700px;
}

#vegtype_slider_container {
	direction: ltr;
	z-index: 999999;
}

#steps_initial_vegetation_cover{
}

#running_st_sim {
	background-color: #1EBA36;
	height: 22px;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 1.1em;
	width: 335px;
	position: relative;
	border: 1px solid #1EBA36;
}

#results {
	width: 100%;
	margin-right: 10px;
	height: 85vh;
	z-index: 9999999;
	position: absolute;
	border-radius: 5px;
}

#results_loading {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: absolute;
	float: right;
	right: 5px;
	top: 1px;
}

.area_charts {
	position: relative;
	overflow-y: scroll;
	height: 65vh;
	padding-right: 30px;
	overflow-x: hidden;
}

.column_charts {
	position: relative;
	overflow-y: scroll;
	height: 65vh;
	padding-right: 30px;
	overflow-x: hidden;
}

.scenario_radio_label{
    font-size:.95em;
}

label {
}

label, td{
}

#initial_conditions_table {
    position:relative;
    float:left;
    width:100%;
    margin-bottom:20px;
    padding-right:20px;
}

#initial_conditions_table th {
    background-color: #0092D1;
    height: 30px;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 2px;
}

.selected_location_table th {
    font-size:1em !important;
}


.results_table, .selected_location_table {
	width: 100%;
}

.results_table th, .selected_location_table th {
	background-color: #1954ad;
	background-color: #ff6f20;
	width: 40px;
    max-width: 40px;
	height: 30px;
	color: white;
	font-size: .9em;
	font-weight: bold;
	letter-spacing: 1px;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0));
	background-image: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0));
	background-image: linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0));
	text-align: right;
	padding-right: 8px;
}

.results_table td{
    background-color: #A8A8A8;
    background-color: #8C8CE4;
    letter-spacing: 1px;
    padding-left:8px;
    line-height:24px;
    max-width: 220px;
}

.location_tr td {
    background-color:#FF6F20;
    text-align: left;
    color: white;
    font-weight: bold;
}

.location_th{
    width:40px;
    max-width:40px;
}

.scenario_tr td {
	background-color: #4C9ED9;
	text-align: left;
	color: white;
	font-weight: bold;
	white-space: nowrap;
	padding-right: 15px;
}

.chart_type_tr td {
	background-color: #4C9ED9;
	text-align: left;
	color: white;
	font-weight: bold;
	white-space: nowrap;
	padding-right: 15px;
	height: 22px;
	max-height: 22px;
	line-height: 22px;
}

.iteration_tr td {
	background-color: #4C9ED9;
	text-align: left;
	color: white;
	font-weight: bold;
	white-space: nowrap;
	padding-right: 15px;
}

.probabilistic_transitions_th {
	background-color: #DE5448;
	font-weight: bold;
	text-align: left;
	color: white;
	padding-left: 8px !important;
	font-style: normal !important;
	letter-spacing: 1px;
	min-width: 195px;
}

.probabilistic_transitions_tr_values{
    display:none;
}

.show_disturbance_probabilities_link{
    cursor:pointer;
}

.probabilistic_transitions_values_header {
	background-color: #DE5448;
	text-align: center;
	width: 80px;
	color: white;
    font-weight:bold;
}

.probabilistic_transitions_values {
	font-size: .8em;
	color: #444343;
	letter-spacing: .5px;
	font-style: italic;
	text-align: center;
	line-height: 25px !important;
	background-color: #DADAF8 !important;
}

.scenario_th {
	background-color: #4C9ED9 !important;
	color: white;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.scenario_th {
	background-color: #4C9ED9 !important;
	color: white;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.overflow_ellipses{
	text-overflow: ellipsis;
	width: 210px;
	white-space: nowrap;
	overflow: hidden;
}

.veg_output_th {
    background-color: #1EBA36 !important;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    letter-spacing: 1px;
}


.veg_type_th{
    background-color:#E9E7E7;
    font-weight:normal;
    text-align:left;
    height:25px;
}

#run_button {
	cursor: pointer;
	width: calc(100%);
	font-size: 20px;
	border-radius: 5px;
	height: 60px;
	color: white;
	font-weight: bold;
	background-color: #1EBA36;
	margin-top: 5px;
	border: 0px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.65);
}

.disabled {
	background-color: #d7d7d7 !important;
	cursor: not-allowed !important;
	text-shadow: none !important;
	font-size: 1em !important;
	color: #777575 !important;
    font-weight:normal;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5) !important;
}

.please_wait{
    font-size: 20px !important;
}


.my-button {
	border-radius: 4px;
	color: #FFF;
	font-weight: bold;
	padding: 6px 15px;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(0,0,0,.5);
    background-color: #007BB0;
    background-color: #1EBA36;
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,.5);
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0));
}

.my-button-ok:hover, .my-button-ok:focus {
    background-color: #007BB0;
    background-color: #1EBA36;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}

#total_input_percent_div {
	width: 201px;
	text-align: right;
	font-size: .9em;
	left: 33px;
	position: relative;
	margin: 10px 10px 15px 0px;
}

#total_input_percent {
	background-color: rgb(30, 186, 54);
	border-radius: 4px;
	padding: 2px 8px;
	display: inline-block;
	text-align:right;
	color:white;
}

div#pop-up {
    display: none;
    position: absolute;
    width: 280px;
    padding: 10px;
    color: #e5e5e5;
    font-size: 90%;
    z-index:9999;
    background: rgba(68, 68, 68, 1);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.sliderTable {
	position: relative;
	width: 100%;
	margin-left: 5px;
}

.slider_bars {
	width: 163px;
	margin: 4px 3px 2px 8px;
}

.probabilistic_transition_sliders {
	width: 280px;
}

.state_class_header {
	border-radius: 3px;
	background-color: #D7D7D7;
	color: rgb(68, 67, 67);
	margin-right: 10px;
	padding: 3px;
	margin-bottom: 6px;
}

.sub_slider_text_inputs {
	position: fixed;
	left: 370px;
	/* top: -25px; */
}
.management_action_inputs{
	position:absolute;
	left:350px;
}

div.callout {
	width: 93%;
	float: left;
	background-color: #0070A1;
	position: relative;
	color: white;
	padding: 10px;
	border-radius: 3px;
	min-height: 50px;
	border: 1px solid #006D9C;
	z-index: 9999;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 5px 5px 20px RGBA(42, 42, 42, 0.91);
	top: -57px;
}

.close_state_class {
	height: 8px;
	float: right;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	opacity: .8;
}

/*
.callout::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
}

.callout.right::before {
	left: -20px;
	top: 3px;
	border-right: 10px solid #0070A1;
}
*/

.manage_callout{
	width: 93%;
	float: left;
	background-color: #444 !important;
	background-image: -moz-linear-gradient(top, #444, #444);
	position: relative;
	padding: 10px;
	border-radius: 3px;
	min-height: 50px;
	border: 1px solid #333 !important;
	text-shadow: 0 0 1px #000;
	z-index: 9999;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 5px 5px 20px RGBA(42, 42, 42, 0.91);
	top: -25px;
	left:-20px;
	color: orange !important;
}

.manage_callout.right::before {
	top: 3px;
	border-right: 10px solid #444;
}


.sub_slider_table{
}

.sub_slider_table td{
   font-size:.85em;
	white-space:nowrap;
}

.stacked_area_chart_title {
	font-size: 0.9em;
	text-align: center;
	width: 308px;
	background-color: #E9E9E9;
	margin-left: 2px;
	/*
	height: 25px;
	*/
	line-height: 25px;
	position: relative;
	display: inline-block;
	font-weight: bold;
	color: #595959;
	margin-bottom: 3px;
}

.show_chart_link {
	font-size: .7em;
	color: #007BB0;
	cursor: pointer;
	float: right;
	z-index: 999;
	top: 4px;
	right: 10px;
	position: relative;
}

.state_class_tr{
    display:none;
}

.state_class_tr td{
    padding-left:10px;
}

.show_state_classes_link {
	font-size: .7em;
	color: #007BB0;
	cursor: pointer;
	/* float: right; */
	/* position: relative; */
}

.current_slider_setting {
	width: 34px;
	border: 0;
	text-align: right;
	background-color: rgba(182, 182, 182, 0.55);
	border-radius: 5px;
	padding-right: 3px;
	margin-left: 3px;
	margin-right: 1px;
}

.current_probability_slider_setting {
  width:140px;
  border:0;
  color:#444343;
}

#reset_default_probabilistic_transitions {
	cursor: pointer;
}

#climate_future_disabled {
	display: none;
	height: 35px;
	width: 305px;
	position: absolute;
	z-index: 999;
	color: #7a7a7a;
	background-color: rgb(231, 231, 231);
	border-radius: 5px;
	padding: 12px 10px 10px 10px;
	text-align: center;
	line-height: 0px;
}

.current_climate_future_slider_setting {
	border: 0;
	color: #444343;
	width: 70px;
	max-width: 70px;
}

#climateFutureSliderTable{
	width: 325px;
	border: 1px solid #bfbfbf;
	border-radius: 5px;
}

#climateFutureSliderTable td {
	width: 150px;
	min-width: 150px;
	line-height: 20px;
	padding-top: 5px;
}

#climate_future_temp_slider{
	display:inline-block;
	width:130px;
	margin: 2px 0px 0px 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2d130+0,f2d130+25,e8912e+25,e8912e+50,f4602e+50,f4602e+75,ff3030+75,ff0000+100 */
    background: #f2d130; /* Old browsers */
    background: -moz-linear-gradient(left,  #f2d130 0%, #f2d130 25%, #e8912e 25%, #e8912e 50%, #f4602e 50%, #f4602e 75%, #ff3030 75%, #ff0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #f2d130 0%,#f2d130 25%,#e8912e 25%,#e8912e 50%,#f4602e 50%,#f4602e 75%,#ff3030 75%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f2d130 0%,#f2d130 25%,#e8912e 25%,#e8912e 50%,#f4602e 50%,#f4602e 75%,#ff3030 75%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2d130', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2d130+0,ff0000+100 */
    background: #f2d130; /* Old browsers */
    background: -moz-linear-gradient(left,  #f2d130 0%, #ff0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #f2d130 0%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f2d130 0%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2d130', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2d130+0,f2d130+33,e8912e+33,e8912e+50,e8912e+66,ff3030+66,ff0000+100 */
    background: #f2d130; /* Old browsers */
    background: -moz-linear-gradient(left,  #f2d130 0%, #f2d130 33%, #e8912e 33%, #e8912e 50%, #e8912e 66%, #ff3030 66%, #ff0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #f2d130 0%,#f2d130 33%,#e8912e 33%,#e8912e 50%,#e8912e 66%,#ff3030 66%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f2d130 0%,#f2d130 33%,#e8912e 33%,#e8912e 50%,#e8912e 66%,#ff3030 66%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2d130', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */

}

#climate_future_precip_slider{
	display:inline-block;
	width:130px;
	margin: 2px 0px 0px 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e69de+0,1e69de+25,3690f0+25,54a3ee+50,ccad74+50,ccad74+75,755232+75,755232+100 */
    background: #1e69de; /* Old browsers */
    background: -moz-linear-gradient(left,  #1e69de 0%, #1e69de 25%, #3690f0 25%, #54a3ee 50%, #ccad74 50%, #ccad74 75%, #755232 75%, #755232 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #1e69de 0%,#1e69de 25%,#3690f0 25%,#54a3ee 50%,#ccad74 50%,#ccad74 75%,#755232 75%,#755232 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #1e69de 0%,#1e69de 25%,#3690f0 25%,#54a3ee 50%,#ccad74 50%,#ccad74 75%,#755232 75%,#755232 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e69de', endColorstr='#755232',GradientType=1 ); /* IE6-9 */

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e69de+0,ccad74+50,755232+100 */
    background: #1e69de; /* Old browsers */
    background: -moz-linear-gradient(left,  #1e69de 0%, #ccad74 50%, #755232 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #1e69de 0%,#ccad74 50%,#755232 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #1e69de 0%,#ccad74 50%,#755232 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e69de', endColorstr='#755232',GradientType=1 ); /* IE6-9 */

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e69de+0,1e69de+33,3690f0+33,95b2c4+33,95b2c4+66,755232+66,755232+100 */
    background: #1e69de; /* Old browsers */
    background: -moz-linear-gradient(left,  #1e69de 0%, #1e69de 33%, #3690f0 33%, #95b2c4 33%, #95b2c4 66%, #755232 66%, #755232 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #1e69de 0%,#1e69de 33%,#3690f0 33%,#95b2c4 33%,#95b2c4 66%,#755232 66%,#755232 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #1e69de 0%,#1e69de 33%,#3690f0 33%,#95b2c4 33%,#95b2c4 66%,#755232 66%,#755232 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e69de', endColorstr='#755232',GradientType=1 ); /* IE6-9 */


}

.dropdown_arrows {
	position: relative;
	left: 2px;
	top: -8px;
}

.dropdown_arrows_rotate {
	position: relative;
	left: 2px;
	top: -8px;
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(270deg);
}

.dropdown_arrows_disturbance{
    position:relative;
    top:-1px;
    left:2px;
}

#site_icon {
	width: 60px;
	position: relative;
	float: left;
	top: 3px;
	margin-right: 9px;
	left: 2px;
}

.modified_leaflet_control_position {
	position: relative;
	top: 54px;
	left: 1px;
}

#tab_container {
	display: none;
	width: 335px;
	padding: 10px;
	overflow-y: hidden;
	height: 100%;
	max-height: 100vh;
}

.views{
    display:none;
}

div.tabcontents {
    padding: 10px 0px;
}

ul.tabs li a {
	font: normal 12px Verdana;
	text-decoration: none;
	position: relative;
	padding: 7px 18px;
    color: #6E6E6E;
	outline: none;
	background: #F6F6F9;
	border: 1px solid #CCC;
}

ul.tabs li.selected a, ul.tabs li.selected a:hover {
	top: 0px;
	font-weight: normal;
	background: #FFF;
	border-bottom: 1px solid #FFF;
	color: #6E6E6E;

}

li.selected a:hover {

}

#general_settings_instructions{
	margin:0 10px 10px 10px;
	text-align:justify;
}

#general_settings_table {
	border-radius: 5px;
	width: 325px;
	margin-bottom: 10px;
	padding: 6px 2px 6px 2px;
}

#general_settings_table td {
	font-weight: bold;
	color: #6b6b6b;
}

#general_settings_table td:first-child {
	width: 155px;
	min-width: 155px;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
}

#general_settings_table td:nth-child(2) {
	width: 148px;
	max-width: 148px;
	text-align: left;
}

#general_settings_table td:nth-child(3) {
	width: 21px;
	max-width: 21px;
	text-align: left !important;
}

#aspatial_button {
	position:relative;
	left:4px;
}

ul.buttons2 {
	margin: 0px 0px 0px 0px !important;
	top: -7px !important;
	height: 0px !important;
	left: -45px !important;
}

ul.buttons2 li a {
	padding: 7px 50px !important;
}

ul.buttons2 li:first-child a {
	border-radius: 0px 5px 5px 0px !important;
	margin-left: 4px !important;
}

ul.buttons2 li:nth-child(2) a {
	border-radius: 0px 5px 5px 0px !important
}

ul.buttons2 li.selected a, ul.buttons2 li.selected a:hover {
	position: relative;
	top: 0px;
	font-weight: bold;
	background: #1EBA36 !important;
	color: white;
	box-shadow: inset 2px 2px 4px rgba(0,0,0,0.5);
	border: 0px;
	padding: 8px 51px !important;
}

.general_settings_div{
	background-color: #0092D1;
	color: white;
	border-radius: 5px 0px 0px 5px;
	padding-right: 5px;
	padding-left: 5px;
	height:30px;
	line-height:30px;
}


.selected_td_button{
	background-color: rgb(46, 178, 66);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) inset;
}

.unselected_td_button {
	color: #878787 !important;
	background-color: #c4c4c4 !important;
	box-shadow: inset 1px 2px 3px rgba(245,255,255,0.5);
	border: 1px solid #C4C4C4;
	cursor:pointer;
}

#run_mode_div {
}

#library_div {
}

#timesteps_div {
}

#iterations_div{
}

.selectboxit-container .selectboxit-options {
	width: 150px;
}

/* Width of the dropdown */
#settings_librarySelectBoxIt{
	width: 144px !important;
	height: 28px !important;
}

.selectboxit-container .selectboxit {
	width: 220px;
	cursor: pointer;
	margin: 0;
	padding: 0;
	border-radius: 0px 5px 5px 0px;
	overflow: hidden;
	display: block;
	position: relative;
}

.selectboxit-container span, .selectboxit-container .selectboxit-options a {
	height: 30px;
	line-height: 25px !important;
	display: block;
}

.select_container_2 {
	font-family: Verdana,Geneva,sans-serif !important;
	font-size: 13px !important;
	text-align: center;
	position: relative;
	left:-1px;
}

.select_form2{
	font-family: Verdana,Geneva,sans-serif !important;
	font-size: 12px !important;
	white-space: nowrap;
	text-align:left;
	font-weight:bold;
}


.styled-select2{
	color: #444444 !important;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	display:inline;
}

.selectboxit-btn {
	background-color: #31C047;
	background-image: -moz-linear-gradient(top, #31C047, #2DAC40);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#31C047), to(#2DAC40));
	background-image: -webkit-linear-gradient(top,#31C047, #2DAC40);
	background-image: -o-linear-gradient(top, #31C047, #2DAC40);
	background-image: linear-gradient(to bottom, #31C047, #2DAC40);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	color:white !important
}

.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus,
.selectboxit-btn.selectboxit-enabled:active {
	color: #333333;
	background-color: #2DAC40;
}

.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
	margin: 0 auto;
	position: absolute;
	top: 40%;
	right: 0;
	left: 0;
}

.manage_div {
	font-size: .9em;
	cursor: pointer;
}

.manage_span {
	font-size: 11px;
	background-color: #444444;
	color: orange;
	padding: 3px 3px;
	border-radius: 4px;
	cursor: pointer;
}

.state_class_div {
	font-size: 1em;
	/* right: 70px; */
}

.state_class_span {
	font-size: 11px;
	background-color: #007BB0;
	color: white;
	padding: 3px 3px;
	border-radius: 4px;
	white-space: nowrap;
}

.imageOverlayLink {
	border-radius: 3px;
	background-color: #D7D7D7;
	width: 298px;
	display: inline-block;
	padding: 2px 0px 2px 3px;
	font-size:.8em;
}

.transition_type{
	border-radius: 3px;
	padding: 2px 0px 2px 3px;
	font-size:.9em;
}

.initial_veg_cover_input_table {

}

.veg_state_class_entry{
	width: 50px
}

#settings_timesteps{
	width:140px;
}

#settings_iterations{
	width:140px;
}

.column_charts_button{
	cursor: default;
}

.stacked_area_charts_button{
	cursor: default;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

#scene_legend {
	float: right;
	position: absolute;
	top: 80px;
	right: 12px;
	z-index: 99999;
	background-color: #E9E9E9;
	border-radius: 4px;
	font-size: .8em;
	display: none;
	line-height: 16px;
	padding: 8px;
}

#scene_legend_color {
	display: inline-block;
	min-height: 8px;
	min-width: 20px;
	margin: 1px 6px 1px 0px;
	border-radius: 2px;
}

#click_div {
	width:100%;
	text-align:center;
}

#click_icon {
	width:150px;
	text-align:center;
}

#select_icon {
	width:165px;
	text-align:center;
}

.leaflet-right {
	top: 10px;
}


#footer {
	z-index:999999;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 28px;
	background-color: #424242;
	color: white;
	text-align: right;
}

#footerText {
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	margin-right: 5px;
	margin-left: 5px;
	float: right;
}

#footerText a{
	color: white;
	text-decoration:none;
}

#footerText a:hover{
	text-decoration:underline
}

#footerImage {
	position: relative;
	top: 2px;
}


