/* My wrappers */
#spatial_control{
	height: 30px;
	line-height: 30px;
	padding: 0px 15px;
	text-align:center;
}

.spatial_on{
	float: right;
}

.spatial_off{
	float: left;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 29px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.round-handle {
	position: absolute;
	/* content: ""; */
	height: 22px;
	width: 22px;
	left: 5px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
  background-color: #0092D1;
}

input:focus + .slider {
	box-shadow: 0 0 1px #0092D1;
}

input:checked + .slider > .round-handle {
  -webkit-transform: translateX(27px);
  -ms-transform: translateX(27px);
  transform: translateX(27px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.round-handle {
  border-radius: 50%;
} 

.round-handle-text {
	top: 3px;
	left: 2px;
	position: relative;
	font-size: 0.96em;
}
